html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Place your styles below */

h1 {
	text-align: center;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

